html {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Kurale', serif;
}

body {
    margin: auto;
    padding: 0 10px;
    background: #ededef;
}

header,
footer {
    padding: 0 3%;
    background-color: #1bbcb6;
}

h1 {
    font-family: Permanent Marker;
    color: #d16d79;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    padding: 0 3%;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-family: Kurale;
    color: #252f48;
    font-size: 2em;
    padding: 0 3%;
}

h3 {
    color: #d16d79;
    font-family: Permanent Marker;
    font-size: 1.5em;
    padding: 0 3%;
}

p {
    font-family: Kurale;
    color: #252f48;
    padding: 0 3%;
}

ul {
    list-style: none;
}

#schedule h2 {
	text-align: center;
}

#left {
	padding-left: 3%;
}

form {
		width: 50%;
		margin: auto;
		padding: 0 10% 40px;
}

label {
	font-weight: bold;
}

input {
	padding: 5px;
	border-radius: 5px;
	margin: 10px;
}

input[type="checkbox"] {
	margin-left: 10px;
}

button {
	padding: 5px;
	border-radius: 5px;
}

button[type="reset"] {
	float: right;
	display: inline-block;
}

img {
    width: 94%;
    margin: auto;
    padding: 0 3%;
}

.thumbnail {
    width: 98%;
    padding: 0 1%;
    box-shadow: 2px 2px 2px 2px grey;
}

/* #walking,
#drop-in,
#day-care {
    width: 32%;
    display: inline-block;
} */

.center {
    margin: auto;
    width: 94%;
    padding: 0 2%;
}

footer p {
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    padding: 0 20px;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: #252f48;
}

/* Form validation */
/* Common styles for all types */

.hidden {
	visibility: hidden;
	height: 0;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
.hundred {
  width: 100%;
}

/* Media Queries */
@media (min-width: 800px) {

    footer {
        display: block;
        clear: both;
    }

    .left-50,
    .right-50 {
        display: inline-block;
        width: 39%;
        padding: 1% 5%;
    }

    #walking,
    #drop-in,
    #day-care {
        width: 32%;
        display: inline-block;
    }

    #walking,
    #drop-in {
        margin-left: 1%;
    }

    #day-care {
        margin-right: 1%;
    }

    section#schedule {
        display: inline-block;
        width: 31%;
        float: left;
    }
		
		.thumbnail {
		    width: 90%;
		    margin: auto;
		    box-shadow: 2px 2px 2px 2px grey;
		}

    form {
        width: 50%;
        margin: auto;
        padding: 0 10% 40px;
    }

    aside {
        display: inline-block;
        width: 30%;
        float: left;
    }
}
